
/*
  Colours
*/

.u-color-text {
  color: var(--color-gray-dark);
}

.u-color-gray {
  color: var(--color-gray);
}

.u-color-meta {
  color: var(--color-gray-light);
}

.u-color-primary {
  color: var(--color-primary);
}

.u-color-secondary {
  color: var(--color-secondary);
}

.u-color-accent {
  color: var(--color-accent);
}
