/**
 * Display-type utilities
 */

.u-inline {
  display: inline !important;
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-inline-block {
  display: inline-block !important;
  max-width: 100%; /* 1 */
}

.u-block {
  display: block !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-is-hidden-visually {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Flexbox
 */

.u-flex {
  display: flex;
}

.u-flex-fill {
  flex: 1;
}

.u-flex-none {
  flex: none;
}

.u-flex-no-shrink {
  flex: 1 0 auto;
}

.u-direction-row {
  flex-direction: row;
}

/*Center flex items in flex direction*/
.u-justify-center {
  justify-content: center;
}

/* Position content at end of flex container */
.u-justify-end {
  justify-content: flex-end;
}

/*Center flex items on cross axis*/
.u-align-center {
  align-items: center;
}
