/*
  Used to adjust the default spacing between components
  Use with great care!

  <type>-<location><size>

  A = all
  T = top
  R = right
  B = bottom
  L = left
  H = horizontal
  V = vertical

  n = none
  s = small
  m = medium
  l = large
*/

/*
  All padding
*/

.u-padding-Axxl {
  padding: var(--space-xxl);
}

.u-padding-Axl {
  padding: var(--space-xl);
}

.u-padding-Al {
  padding: var(--space-l);
}

.u-padding-Axm {
  padding: var(--space-xm);
}

.u-padding-Am {
  padding: var(--space-m);
}

.u-padding-As {
  padding: var(--space-s);
}

.u-padding-Axs {
  padding: var(--space-xs);
}

.u-padding-Axxs {
  padding: var(--space-xxs);
}

.u-padding-An {
  padding: 0;
}

/*
  All margin
*/

.u-margin-Axxl {
  margin: var(--space-xxl);
}

.u-margin-Axl {
  margin: var(--space-xl);
}

.u-margin-Al {
  margin: var(--space-l);
}

.u-margin-Axm {
  margin: var(--space-xm);
}

.u-margin-Am {
  margin: var(--space-m);
}

.u-margin-As {
  margin: var(--space-s);
}

.u-margin-Axs {
  margin: var(--space-xs);
}

.u-margin-Axxs {
  margin: var(--space-xxs);
}

.u-margin-An {
  margin: 0;
}

/*
  Vertical margin
*/

.u-margin-Vxxl {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

.u-margin-Vxl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.u-margin-Vl {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

.u-margin-Vxm {
  margin-top: var(--space-xm);
  margin-bottom: var(--space-xm);
}

.u-margin-Vm {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.u-margin-Vs {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.u-margin-Vxs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.u-margin-Vxxs {
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-xxs);
}

.u-margin-Vn {
  margin-top: 0;
  margin-bottom: 0;
}

/*
  Vertical padding
*/

.u-padding-Vxxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}

.u-padding-Vxl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.u-padding-Vl {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.u-padding-Vxm {
  padding-top: var(--space-xm);
  padding-bottom: var(--space-xm);
}

.u-padding-Vm {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.u-padding-Vs {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.u-padding-Vxs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.u-padding-Vxxs {
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
}

.u-padding-Vn {
  padding-top: 0;
  padding-bottom: 0;
}

/*
  Horizontal margin
*/

.u-margin-Hxxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}

.u-margin-Hxl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.u-margin-Hl {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.u-margin-Hxm {
  margin-left: var(--space-xm);
  margin-right: var(--space-xm);
}

.u-margin-Hm {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.u-margin-Hs {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.u-margin-Hxs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.u-margin-Hxxs {
  margin-left: var(--space-xxs);
  margin-right: var(--space-xxs);
}

.u-margin-Hn {
  margin-left: 0;
  margin-right: 0;
}

/*
  Horizontal padding
*/

.u-padding-Hxxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
}

.u-padding-Hxl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.u-padding-Hl {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.u-padding-Hxm {
  padding-left: var(--space-xm);
  padding-right: var(--space-xm);
}

.u-padding-Hm {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.u-padding-Hs {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.u-padding-Hxs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.u-padding-Hxxs {
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);
}

.u-padding-Hn {
  padding-left: 0;
  padding-right: 0;
}

/*
  Top margin
*/

.u-margin-Txxl {
  margin-top: var(--space-xxl);
}

.u-margin-Txl {
  margin-top: var(--space-xl);
}

.u-margin-Tl {
  margin-top: var(--space-l);
}

.u-margin-Txm {
  margin-top: var(--space-xm);
}

.u-margin-Tm {
  margin-top: var(--space-m);
}

.u-margin-Ts {
  margin-top: var(--space-s);
}

.u-margin-Txs {
  margin-top: var(--space-xs);
}

.u-margin-Txxs {
  margin-top: var(--space-xxs);
}

.u-margin-Tn {
  margin-top: 0;
}

/*
  Top padding
*/

.u-padding-Txxl {
  padding-top: var(--space-xxl);
}

.u-padding-Txl {
  padding-top: var(--space-xl);
}

.u-padding-Tl {
  padding-top: var(--space-l);
}

.u-padding-Txm {
  padding-top: var(--space-xm);
}

.u-padding-Tm {
  padding-top: var(--space-m);
}

.u-padding-Ts {
  padding-top: var(--space-s);
}

.u-padding-Txs {
  padding-top: var(--space-xs);
}

.u-padding-Txxs {
  padding-top: var(--space-xxs);
}

.u-padding-Tn {
  padding-top: 0;
}

/*
  Bottom margin
*/

.u-margin-Bxxl {
  margin-bottom: var(--space-xxl);
}

.u-margin-Bxl {
  margin-bottom: var(--space-xl);
}

.u-margin-Bl {
  margin-bottom: var(--space-l);
}

.u-margin-Bxm {
  margin-bottom: var(--space-xm);
}

.u-margin-Bm {
  margin-bottom: var(--space-m);
}

.u-margin-Bs {
  margin-bottom: var(--space-s);
}

.u-margin-Bxs {
  margin-bottom: var(--space-xs);
}

.u-margin-Bxxs {
  margin-bottom: var(--space-xxs);
}

.u-margin-Bn {
  margin-bottom: 0;
}

/*
  Bottom padding
*/

.u-padding-Bxxl {
  padding-bottom: var(--space-xxl);
}

.u-padding-Bxl {
  padding-bottom: var(--space-xl);
}

.u-padding-Bl {
  padding-bottom: var(--space-l);
}

.u-padding-Bxm {
  padding-bottom: var(--space-xm);
}

.u-padding-Bm {
  padding-bottom: var(--space-m);
}

.u-padding-Bs {
  padding-bottom: var(--space-s);
}

.u-padding-Bxs {
  padding-bottom: var(--space-xs);
}

.u-padding-Bxxs {
  padding-bottom: var(--space-xxs);
}

.u-padding-Bn {
  padding-bottom: 0;
}

/*
  Right margin
*/

.u-margin-Rxxl {
  margin-right: var(--space-xxl);
}

.u-margin-Rxl {
  margin-right: var(--space-xl);
}

.u-margin-Rl {
  margin-right: var(--space-l);
}

.u-margin-Rxm {
  margin-right: var(--space-xm);
}

.u-margin-Rm {
  margin-right: var(--space-m);
}

.u-margin-Rs {
  margin-right: var(--space-s);
}

.u-margin-Rxs {
  margin-right: var(--space-xs);
}

.u-margin-Rxxs {
  margin-right: var(--space-xxs);
}

.u-margin-Rn {
  margin-right: 0;
}

/*
  Right padding
*/

.u-padding-Rxxl {
  padding-right: var(--space-xxl);
}

.u-padding-Rxl {
  padding-right: var(--space-xl);
}

.u-padding-Rl {
  padding-right: var(--space-l);
}

.u-padding-Rxm {
  padding-right: var(--space-xm);
}

.u-padding-Rm {
  padding-right: var(--space-m);
}

.u-padding-Rs {
  padding-right: var(--space-s);
}

.u-padding-Rxs {
  padding-right: var(--space-xs);
}

.u-padding-Rxxs {
  padding-right: var(--space-xxs);
}

.u-padding-Rn {
  padding-right: 0;
}

/*
  Left margin
*/

.u-margin-Lxxl {
  margin-left: var(--space-xxl);
}

.u-margin-Lxl {
  margin-left: var(--space-xl);
}

.u-margin-Ll {
  margin-left: var(--space-l);
}

.u-margin-Lxm {
  margin-left: var(--space-xm);
}

.u-margin-Lm {
  margin-left: var(--space-m);
}

.u-margin-Ls {
  margin-left: var(--space-s);
}

.u-margin-Lxs {
  margin-left: var(--space-xs);
}

.u-margin-Lxxs {
  margin-left: var(--space-xxs);
}

.u-margin-Ln {
  margin-left: 0;
}

/*
  Left padding
*/

.u-padding-Lxxl {
  padding-left: var(--space-xxl);
}

.u-padding-Lxl {
  padding-left: var(--space-xl);
}

.u-padding-Ll {
  padding-left: var(--space-l);
}

.u-padding-Lxm {
  padding-left: var(--space-xm);
}

.u-padding-Lm {
  padding-left: var(--space-m);
}

.u-padding-Ls {
  padding-left: var(--space-s);
}

.u-padding-Lxs {
  padding-left: var(--space-xs);
}

.u-padding-Lxxs {
  padding-left: var(--space-xxs);
}

.u-padding-Ln {
  padding-left: 0;
}
