/*! suit-utils-text v0.3.0 | MIT License | github.com/suitcss */

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */

.u-text-break {
  word-wrap: break-word !important;
}

/**
 * Horizontal text alignment
 */

.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

/**
 * Inherit the ancestor's text color.
 */

.u-text-inherit-color {
  color: inherit !important;
}

/**
 * Prevent whitespace wrapping
 */

.u-text-no-wrap {
  white-space: nowrap !important;
}

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

.u-text-truncate {
  max-width: 100%; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; /* 2 */
}

/*
  Text styles
*/

.u-text-heading {
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

.u-text-monospace {
  font-family: var(--font-family-monospace);
}

.u-text-monospace-m {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-m);
  line-height: 1.2;
}

.u-text-heavy {
  font-weight: var(--font-weight-heavy);
}

.u-text-medium {
  font-weight: var(--font-weight-medium);
}

.u-text-normal {
  font-weight: var(--font-weight-normal);
}

.u-text-light {
  font-weight: var(--font-weight-light);
}

/*
  Text sizes
*/

.u-text-xxxl {
  font-size: var(--font-size-xxxl);
}

h1, .u-text-xxl {
  font-size: var(--font-size-xxl);
}

h2, .u-text-xl {
  font-size: var(--font-size-xl);
}

h3, .u-text-l {
  font-size: var(--font-size-l);
}

h4, .u-text-m {
  font-size: var(--font-size-m);
}

h5, .u-text-s {
  font-size: var(--font-size-s);
}

h6, .u-text-xs {
  font-size: var(--font-size-xs);
}

.u-text-no-smoothing {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.u-text-strikethrough {
  text-decoration: line-through;
}

.u-text-underline {
  text-decoration: underline;
}
