/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="btn [btn--modifier]" role="button" href="[url]">btn text</a>
 * <button class="btn [btn--modifier]" type="submit">btn text</button>
 * <input class="btn [btn--modifier]" type="submit" value="btn text">
 */

/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */

.btn {
  -webkit-appearance: none; /* 1 */
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: normal; /* 6 */
  margin: 0;
  padding: 8px 15px 9px;
  position: relative;
  text-align: center;
  align-items: center; /* Needed for centered text in flexing btns */
  text-decoration: none;
  user-select: none; /* 6 */
  white-space: normal; /* 7 */
  border-radius: var(--border-radius-base);
}

/*
  Disable outline when clicking on buttons
  Preserves outline on tab focus
*/

.btn:active {
  outline: none;
  color: white;
}

.btn:hover {
  text-decoration: none;
  border-color: #1751BF;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--small {
  min-height: 0;
  height: 30px;
  padding: 0 15px;
  line-height: 28px;
  font-size: var(--font-size-xs);
}

.btn--edit {
  padding: 6px 14px 3px;
}

.btn--hollow {
  border: 1px solid var(--color-gray-xlight);
  position: relative;
  background-color: white;
  color: var(--color-primary);
}

.btn--hollow:hover,
.btn--hollow:active {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn[disabled],
.btn--disabled,
.btn[disabled]:hover,
.btn--disabled:hover,
.btn[disabled]:active,
.btn--disabled:active {
  cursor: default;
  background-color: white;
  border-color: var(--color-gray-xlight);
  color: var(--color-gray);
}

.btn--warning {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn--warning:hover {
  border-color: #AD1A10;
}

.btn--vertical-center {
  padding: 9px 15px 9px;
}

.btn--hollow-color-light {
  border-color: var(--color-gray-xlight)
}
