@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0) scale(0.85);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.input-hint {
  position: absolute;
  z-index: 9999999;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: var(--space-xxs);
}

.input-hint.ng-hide {
  display: none;
}

.input-hint.ng-hide-remove {
  animation: fadeDown 70ms cubic-bezier(.55,0,.1,1) forwards;
}

.input-hint.ng-hide-add {
  display: block !important;
  opacity: 0;
}

.input-hint__item {
  height: 35px;
  line-height: 35px;
  padding: 0 var(--space-m);
  background: white;
  cursor: pointer;
}

.input-hint__item:first-child {
  border-top: none;
}

.input-hint__item.is-selected {
  background: var(--color-primary);
  color: #fff;
}
