.label {
  display: block;
  font-size: var(--font-size-xs);
  color: var(--color-gray);
}

.label--inline {
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 0;
}

.label--filter {
  margin-top: -1px;
}
