.load-test-form {
  margin-bottom: 10px;
}

.load-test-form--field {
  display: block;
  float: left;
  padding: 0px 5px;
}

.load-test-form--field__schema {
  width: 25%;
}

.load-test-form--field__resource {
  width: 25%;
}

.load-test-form--field__action {
  width: 25%;
}

.load-test-form--field__duration {
  width: 8%;
}

.load-test-form--field__rate {
  width: 8%;
}

.load-test-form--field__button {
  width: 8%;
}
