.load-test-form {
  margin-bottom: 10px;
}

.load-test-form--field {
  display: block;
  float: left;
  padding: 0px 5px;
  width: 25%;
}

.load-test-form--field__schema {
  width: 25%;
}

.load-test-form--field__resource {
  width: 25%;
}

.load-test-form--field__action {
  width: 25%;
}

.load-test-form--field__duration {
  width: 8%;
}

.load-test-form--field__rate {
  width: 8%;
}

.load-test-form--field__url {
  width: 75%;
}

.load-test-form--field__button {
  width: 8%;
}

.load-test-form--field__headers {
}

.headers {
  width: 50%;
}

.headers__header {
}

.headers__header__name {
  float: left;
  width: 49%;
}

.headers__header__separator {
  float: left;
  width: 2%;
  text-align: center;
  line-height: 34px;
  height: 34px;
  display: block;
}

.headers__header__value {
  float: left;
  width: 49%;
}
