.main-heading {
  border-bottom: 1px solid var(--color-gray-xlight);
  margin: var(--space-m) var(--space-xxl) 0 var(--space-xxl);
  flex-direction: row;
  background: white;
}

.main-heading--show {
  /*box-shadow: var(--box-shadow-low);*/
  z-index: var(--z-index-admin-nav);
  margin: 0;
  padding: var(--space-m) var(--space-xxl);
}

.main-heading__text {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: block;
  line-height: 34px;
  font-weight: 200;
  min-height: 52px;
  padding-bottom: var(--space-m);
}

.main-heading--show .main-heading__text {
  padding-bottom: 0;
  min-height: 0;
}

.main-heading__status-disc {
  top: -2px;
  position: relative;
}
