.table {
  width: 100%;
  text-align: left;
}

.table tr {
  border-bottom: 1px solid var(--color-gray-xlight);
}

.table--admin tr {
  border-bottom: 1px solid var(--color-gray);
}

.table tr:hover {
  background: var(--color-gray-xxlight);
  cursor: pointer;
}

.table--admin tr:hover {
  background: black;
}

.table tr.is-inactive:hover {
  background: white;
  cursor: auto;
}

.table thead tr:hover,
.table--admin thead tr:hover {
  background: transparent;
  cursor: auto;
}

.table th,
.table td {
  padding: var(--space-xs) var(--space-l) var(--space-xs) 0;
}

.table--admin td {
  color: white;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th {
  font-weight: 400;
  color: var(--color-gray);
}

.table--admin th:nth-child(1),
.table--admin tr td:nth-child(1) {
  padding-left: 0;
}

.table tr th:nth-last-child(1),
.table tr td:nth-last-child(1) {
  padding-right: 0;
}

.table--admin tr th:nth-last-child(1),
.table--admin tr td:nth-last-child(1) {
  padding-right: var(--space-m);
}

/* Setting width of amount column */
.table--payments tr td:nth-child(1),
.table--payouts tr td:nth-child(1),
.table--refunds tr td:nth-child(1),
.table--subscriptions tr td:nth-child(1) {
  width: 130px;
}

/* Setting width of payment status column */
.table--payments tr td:nth-child(2) {
  max-width: 260px;
}

/* setting width of customer ID column */
.table--customers tr td:nth-child(3) {
  width: 155px;
}

/* Setting width of payment created date column */
.table--payments tr td:nth-child(4) {
  width: 90px;
}

/* Setting width of final date column */
.table--customers tr td:last-child,
.table--payments tr td:last-child,
.table--payouts tr td:last-child,
.table--refunds tr td:last-child,
.table--subscriptions tr td:last-child,
.table--organisation tr td:last-child {
  width: 90px;
}

.table--events tr td:nth-child(1) {
  width: 200px;
}

.table--events tr td:nth-child(2) {
  width: 240px;
}

.table--events tr td:nth-child(3) {
  width: 210px;
}

.table__status {
  width: 200px;
}

.table--payouts-show tbody tr:nth-last-child(1) {
  border-bottom: 0;
}

.table--payouts-show tr td:nth-last-child(1),
.table--payouts-show tr th:nth-last-child(1) {
  padding-right: var(--space-m);
}

.table--payouts-show tr td:nth-child(1),
.table--payouts-show tr th:nth-child(1) {
  padding-left: var(--space-m);
}
