* {
  box-sizing: border-box;
  font-family: 'Gotham SSm A';
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.header {
  margin-bottom: 15px;
}

.header__title {
  font-weight: normal;
}

.headers__header {
  position: relative;
  margin-bottom: 10px;
}

.headers__header:first-child {
  margin-top: 20px;
}

.headers__header--edit input {
  border-bottom: none;
}

.headers__header .input[disabled] {
  color: #2D2D2D;
}

.headers__header__name {
  margin: 0 30px;
}

.headers__header__value {
  margin: 0 30px;
}

.headers__header__value .input {
  text-overflow: ellipsis;
}

.headers__header__delete {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.headers__header:hover .headers__header__delete {
  display: block;
}

.request-response {
  margin-bottom: 30px;
  width: 100%;
}

.tabbed-request,
.tabbed-response {
  flex: 1;
  border: 2px solid #B1B1B1;
}

.tabbed-request {
  border-left: none;
  border-right-width: 1px;
}

.tabbed-response {
  border-right: none;
  border-left-width: 1px;
  overflow-x: scroll;
}

.tabbed-response--empty {
  border: none;
}

.tabbed-response .headers__header:first-child {
  margin-top: 70px;
}

.tabbed-request code {
  outline: none;
}

.tabbed-request__body,
.tabbed-response__body {
  font-family: "Source Code Pro";
  padding: 6px;
  margin-top: 70px;
  margin-left: 20px;
}
