html,
body,
#app {
  height: 100%;
  width: 1024px;
  margin: 0 auto;
}

div, section, select, label,
main, input, [flex] {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.request-response {
  width: 100%;
}

.header {
  margin-bottom: 15px;
}

.header__title {
  font-weight: normal;
}

.tabbed-request,
.tabbed-response {
  width: 50%;
}

.headers__header:first-child {
  margin-top: 20px;
}
