* {
  box-sizing: border-box;
  font-family: 'Gotham SSm A';
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

.request-response {
  width: 100%;
  border-top: 1px solid #ddd;
}

.header {
  margin-bottom: 15px;
}

.header__title {
  font-weight: normal;
}

.headers__header {
  position: relative;
}

.headers__header__delete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.headers__header:hover .headers__header__delete {
  display: block;
}

.tabbed-request,
.tabbed-response {
  flex: 1;
}

.tabbed-request {
  border-right: 1px solid #ddd;
}

.headers__header:first-child {
  margin-top: 20px;
}
