@import url('fonts/gotham.css');
@import url('shared/base.css');
@import url('shared/utils.css');
@import url('components/input.css');
@import url('components/btn.css');
@import url('components/well.css');
@import url('components/hr.css');
@import url('components/load-test.css');
@import url('components/load-test-form.css');
@import url('components/live-chart.css');
@import url('components/table.css');

body, html {
  margin: 0px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Header */
header {
  background: #436E94;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  text-align: center;
  color: #ffffff;
  min-height: 55px;
}

.clearfix {
  clear: both;
}

.main {
  margin-top: 10px;
}

.third {
  width: 33%;
  float: left;
}

.half {
  width: 50%;
  float: left;
}

li > ul {
  margin-left: 20px;
}
